body {
    background-color: coral;}


    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(208, 180, 180);
      width: 300px;
      padding: 150px;
      margin: auto;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      

      }
      button {
        
        background-color: #2bcdd3 !important; 
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        border-color: aquamarine;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 10px;

      }

      button:hover {
        background-color: green;
      }
